<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <div class="left">
        <h2>New Author</h2>
        <form action="/create/author/" method="post"></form>
        <label for="name">Name: </label>
        <input type="text" name="name">
        <button>Create</button>
    </div>
    <div class="right">
        <h2>All Authors</h2>
        {% for author in authors %}
            <a href="/authors/{{author.id}}">{{author.name}}</a>
        {% endfor %}
    </div>
    <a href="/">Home</a>
</body>
</html>